@import 'src/assets/styles/variables';

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: fit-content;
	width: 360px;
}

.btn {
	width: 30px;
	height: 30px;
	font-size: 15px;

	border: 1px solid #eeeeee;
	border-radius: 4px;
	transition: background-color 0.3s ease-out;
	text-decoration: none;

	&.active__item,
	&:hover {
		background-color: #5932ea;
		color: #ffffff;
		cursor: pointer;
	}
}
