* {
	box-sizing: border-box;
}

.login__page {
	height: 100vh;
	width: 100vw;
	display: flex;

	.bg__image {
		width: 70vw;
		object-fit: cover;
	}

	.login__form {
		display: flex;
		width: 30vw;
		justify-content: center;
		align-items: center;
	}
}
