* {
  box-sizing: border-box;
}

.login__page--wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;

  .bg__image {
    width: 70vw;
    object-fit: cover;
  }

  .login__form__wrapper {
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: center;
    box-shadow: inset 20px 0px 10px -5px rgba(92, 92, 92, 1);
  }
}