.form {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 25px;
		background-color: #fafbff;
		height: 450px;
		width: 350px;
		font-family: 'Poppins', sans-serif;
	}

	&__icon {
		height: 75px;
		width: 75px;
	}

	&__group {
		display: flex;
		flex-direction: column;

		width: 80%;
		height: 60%;

		font-size: 20px;
		line-height: 18px;
		font-weight: 500;

		h2 {
			margin-top: 0;
		}
	}

	&__input {
		position: relative;
		font-size: 18px;
		line-height: 18px;
		border-radius: 10px;
		padding: 5px;
		margin: 5px 0 10px 0;
		border: none;
		border-top: 1px solid grey;

		&:focus {
			border: 1px solid #f8f8f8;
			outline: none;
		}

		&__error {
			margin: 0 0 15px 0;
			color: red;
			font-size: 14px;
		}
	}

	&__checkbox {
		display: inline-block;
		margin: 0 0 0 5px;
		height: 20px;
		width: fit-content;

		&__label {
			font-size: 18px;
		}
	}

	&__btn {
		margin-top: 20px;
		padding: 3px 30px;
		height: 55px;
		width: fit-content;
		color: #f8f8f8;
		font-size: 20px;
		line-height: 20px;
		font-weight: 700;
		border: none;
		border-radius: 15px;
		background-color: #6c00ff;
	}
}
