body {
	background-color: #fafbff;
}

.posts {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-bottom: 30px;
}

.blog {
	width: 100%;
	padding: 40px 100px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.heading {
		margin-bottom: 40px;
	}
}
