@import 'src/assets/styles/variables';
@import 'src/assets/styles/main';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	position: fixed;
	z-index: 1;
	width: $sidebar-width;
	background-color: #ffffff;

	text-decoration: none;
	font-size: 42px;
	color: $sidebar-hover-bg;

	.navigation {
		display: flex;
		flex-direction: column;
		height: 400px;
		width: 100%;
		padding: 0 28px;
	}

	.logo {
		height: 39px;
		width: 100%;
		transition: transform 0.35s ease-out;

		&:hover {
			cursor: pointer;
			transform: scale(1.05);
		}
	}

	.btn {
		@include btn;
	}
}
