@mixin modal() {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.35s;
}

@mixin active() {
	opacity: 1;
	pointer-events: all;
}

@mixin close-modal() {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #f8f8f8;
	border: none;
	border-radius: 15px;
	padding: 5px 10px;
	font-size: 20px;
	transition: all 0.2s linear;

	&:hover {
		color: white;
		background-color: #5932ea;
		cursor: pointer;
	}
}
